<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <title>{% block title %}UTF8.XYZ{% endblock %}</title>
    <meta name="description" content="Fetch Unicode characters without extra fluff">
    <meta name="keywords" content="unicode utf8 characters chars utf-8">
    <meta name="author" content="Seth Michael Larson">
    <meta property="og:site_name" content="UTF8.XYZ"/>
    <meta property="og:author" content="Seth Michael Larson"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="Fetch Unicode characters without extra fluff"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:creator" content="@sethmlarson"/>
    <meta name="twitter:title" content="UTF8.XYZ"/>
    <meta name="twitter:description" content="Fetch Unicode characters without extra fluff"/>
    <style>
    html, body {font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,Ubuntu,roboto,noto,segoe ui,arial,sans-serif; text-rendering: optimizelegibility !important; font-size: 1.3em; color: #212529;}
    .body {padding-left: 10%; max-width: 80%;}
    h1 { font-size: 1.8em; }
    h2 { font-size: 1.3em; }
    a, a:visited, a:hover, a:active {
        color: inherit;
    }
    </style>
</head>
<body>
<div class="body">
{% block body %}{% endblock %}
</div>
</body>
</html>
