{% extends "base.html" %}
{% block title %}{{ char_long_name }} - utf8.xyz{% endblock %}
{% block body %}
<style>h1 {font-size: 5em;}</style>
<center>
    <h1>{{ char_text }}</h1>
    <b>{{ char_long_name }}</b></small><br>
    <div style="text-align: left; margin-left: 20%; width: 60%;">
    <ul>
        <li><button class="copyChar">Copy</button> Character: {{ char_text }}</li>
        <li><button class="copyCodePoint">Copy</button> Code Point: {{ char_code_point }}</li>
        <li><button class="copyHtml">Copy</button> HTML: {{ char_html }} </li>
        <li><button class="copyPython">Copy</button> Python: {{ char_python }}</li>
        <li><button class="copyUtf8">Copy</button> UTF-8: {{ char_utf8 }}</li>
        <li><button class="copyUtf16">Copy</button> UTF-16: {{ char_utf16 }}</li>
    </ul>
    </div>
    </center>
<script>
function fallbackCopyTextToClipboard(text) {
  var textArea = document.createElement("textarea");
  textArea.value = text;
  textArea.style.top = "0";
  textArea.style.left = "0";
  textArea.style.position = "fixed";
  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();
  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
  } catch (err) {
  }

  document.body.removeChild(textArea);
}
function copyTextToClipboard(text) {
  if (!navigator.clipboard) {
    fallbackCopyTextToClipboard(text);
    return;
  }
  navigator.clipboard.writeText(text).then(function() {
  }, function(err) {
  });
}

function addCopyTextToButton(className, text) {
    document.getElementsByClassName(className)[0]
    .addEventListener('click', function (event) {
        copyTextToClipboard(text);
        document.getElementsByClassName(className)[0].innerHTML = "Copied";
    });
}

addCopyTextToButton("copyChar", "{{ backslashed(char_text)|safe }}");
addCopyTextToButton("copyCodePoint", "{{ char_code_point }}");
addCopyTextToButton("copyHtml", "{{ char_html|safe }}");
addCopyTextToButton("copyPython", "{{ backslashed(char_python) }}");
addCopyTextToButton("copyUtf8", "{{ backslashed(char_utf8) }}");
addCopyTextToButton("copyUtf16", "{{ backslashed(char_utf16) }}");
</script>
{% endblock %}