{% extends "base.html" %}
{% block title %}UTF8.XYZ{% endblock %}
{% block body %}
<h1>UTF8.XYZ</h1>
<p>A quick web app for fetching Unicode characters without extra fluff</p>

<form method="post">
    <input type="text" name="char" placeholder="What are you looking for?" autofocus>
    <button type="submit">Search</button>
</form>

<h2>Example queries and aliases for common characters</h2>
<ul>
    <li><a href="/latin-small-letter-a"><code>"utf8.xyz/latin-small-letter-a"</code></a> ⟶ a</li>
    <li><a href="/letter-a-with"><code>"utf8.xyz/letter-a-with"</code></a> ⟶ [á, ӑ, ӓ]</li>
    {% for alias_from, (alias_to, character) in aliases.items() %}
    <li><a href="/{{ alias_from }}"><code>"utf8.xyz/{{ alias_from }}"</code></a> ⟶ {{ character }}</li>
    {% endfor %}
    <li><a href="/arrows"><code>"utf8.xyz/arrows"</code></a> ⟶ [→, ←, ⟶, ↔, ...]</li>
    <li><a href="/currency"><code>"utf8.xyz/currency"</code></a> ⟶ [£, ¥, ...]</li>
</ul>
<h2>Features</h2>
<ul>
    <li>Use the URL to build queries, will return matching results if more than one</li>
    <li>Click anywhere on a character page to copy quickly</li>
    <li>Accessible from command line, try <code>$ curl -L utf8.xyz/en-dash</code></li>
    <li>Short, memorable, and bookmarkable URLs without having to go to Google</li>
    <li>No ads, quick load times, small page sizes</li>
    <li>Works without JavaScript if you don't want the automatic clipboard feature</li>
    <li><a href="https://github.com/sethmlarson/utf8.xyz">The code is open source</a> so you can read the code and can suggest improvements</li>
</ul>
<h2>Why did you build this?</h2>
<p>I built this service for myself and figured others would also find it useful. My biggest pet-peeve was how unfriendly similar sites are on mobile.</p>
<h3>My workflow before utf8.xyz</h3>
<ul>
    <li>Google the name of the unicode character</li>
    <li>Wait for Google to load results</li>
    <li>Select a website from Google</li>
    <li>Wait for that website to load</li>
    <li>Find the character somewhere in the page if it's not obvious</li>
    <li>Copy the character and paste it.</li>
    <li>Sometimes the website potentially injects additional text into the clipboard <b>(ugh)</b> fix those issues if any</li>
</ul>
<h3>My workflow after utf8.xyz</h3>
<ul>
    <li>If in the terminal type: <code>$ curl -L utf8.xyz/en-dash</code></li>
    <li>If on mobile search in the URL <code>utf8.xyz/nd</code></li>
    <li>Copy and paste the character where I need it.</li>
    <li><strong>That's it!</strong></li>
</ul>
<h2>Links</h2>
<ul>
    <li><a href="https://github.com/sethmlarson/utf8.xyz">Source Code</a></li>
    <li><a href="https://github.com/sethmlarson/utf8.xyz">License</a> (Apache-2.0)</li>
    <li><a href="https://sethmlarson.dev">Author</a></li>
</ul>
{% endblock %}
